body section form {
    max-width: 701px;
    width: 80%;
    position: relative;
    left: 50%;
    top: 143px;
    transform: translateX(-50%);
}

body section form div label {
    font-size: 18px;
    font-weight: 600;
    font-family: math;
}

body section form div section,
body section form div textarea,
body section form div input {
    height: 37px;
    font-size: 18px !important;
}

body section form div input:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
}

body section form div div.text-danger {
    font-size: 16px;
    font-weight: 400;
    font-family: math;
    opacity: 0.9;
}

body section form div img {
    right: -7px;
    width: 56px;
    top: 35px;
}

body section form div input {
    padding-right: 52px;
}

body section form div input[type='text']+img {
    top: 38px;
    width: 63px;
    right: -18px;
}

body section form div button {
    padding: 9px 7px !important;
    font-size: 22px !important;
    font-family: emoji !important;
}

body section form div button:focus {
    box-shadow: none;
}