body section {
    position: relative;
    top: 122px;
    max-width: 920px;
    width: 90%;
    margin: 0 auto;
}

body section article div.content-body h2{
    font-size: 34px;
    color: #22b78ea6;
    font-family: auto;
    font-weight: 700;
}

body section article div.dont{
    position: relative;
    top: 100px;
    font-family: auto;
}

body section article table tbody tr{
    height: 67px;
}

body section article table tbody tr th {
    position: relative;
}

body section article table tbody tr td {
    position: relative;
}

body section article table tbody tr th h5{
    position: absolute;
    top: 16%;
    left: 48%;
    transform: translate(-50%);
    font-size: 15px;
    width: 100px;
    font-family: math;
}

body section article table tbody tr td h5{
    position: absolute;
    top: 16%;
    left: 48%;
    transform: translate(-50%);
    font-size: 19px;
    width: 100%;
    font-family: emoji;
}
