body div.containere section {
    position: fixed;
    top: 66px;
    right: 5px;
    left: 91px;
    bottom: 7px;
    border-radius: 22px;
    background: white;
    box-shadow: 0 2px 10px rgb(0 0 0 / 12%) !important;
    overflow: overlay;
    transition: left 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

body div.containere div.navigation.active + section{
    left: 256px !important;
}

body div.containere section form {
    max-width: 701px;
    width: 80%;
    position: relative;
    left: 50%;
    top: 143px;
    transform: translateX(-50%);
}

body div.containere section form div label{
    font-size: 18px;
    font-weight: 600;
    font-family: math;
}

body div.containere section form div input:focus{
    box-shadow: none;
    border-color: #ced4da;
}

body div.containere section form div div.text-danger{
    font-size: 16px;
    font-weight: 400;
    font-family: math;
    opacity: 0.9;
}

body div.containere section form div img{
    right: -7px;
    width: 56px;
    top: 30px;
}

body div.containere section form div input{
    padding-right: 52px;
}

body div.containere section form div input[type='text'] + img{
    top: 33px;
    width: 63px;
    right: -18px;
}

body div.containere section form div button:focus{
    box-shadow: none;
}